<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Add your CSS links here -->
    <!-- <link href="{{ url_for('static', filename='tailStyle.css') }}" rel="stylesheet"> -->
    <link
      href="{{url_for('static',filename='css/output.css')}}"
      rel="stylesheet"
    />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/dashStyles.css" />
    <link rel="stylesheet" href="../static/settingStyle.css" />
    <!-- Add your favicon link here -->

    <link
      rel="shortcut icon"
      href="../static/favicon/favicon-32x32.png"
      type="image/x-icon"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="#" class="logo">
        <div class="logo-name"><span>Emo&nbsp;</span>Insight</div>
      </a>
      <ul class="side-menu">
        <li>
          <a href="{{ url_for('dashboard') }}"
            ><i class="bx bxs-dashboard"></i>Dashboard</a
          >
        </li>
        <li>
          <a href="{{ url_for('analytics') }}"
            ><i class="bx bx-analyse"></i>Analytics</a
          >
        </li>
        <li>
          <a href="{{ url_for('youtube') }}"
            ><i class="bx bx-video"></i>Youtube</a
          >
        </li>
        <li>
          <a href="{{ url_for('twitter') }}"
            ><i class="bx bxl-twitter"></i>Twitter</a
          >
        </li>
        <li>
          <a href="{{ url_for('instagram') }}">
            <i class="bx bxl-instagram"></i>Instagram
          </a>
        </li>
        <li>
          <a href="{{ url_for('ticket') }}"
            ><i class="bx bx-history"></i>History</a
          >
        </li>
        <li>
          <a href="{{ url_for('profile') }}"
            ><i class="bx bx-user"></i>Profile</a
          >
        </li>
        <li>
          <a href="{{ url_for('settings') }}"
            ><i class="bx bx-cog"></i>Settings</a
          >
        </li>
        <li>
          <a href="{{ url_for('contact') }}"
            ><i class="bx bx-envelope"></i>Contact Us</a
          >
        </li>
        <li>
          <a href="{{ url_for('about') }}"
            ><i class="bx bx-info-circle"></i>About Emo</a
          >
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="{{ url_for('logout') }}" class="logout">
            <i class="bx bx-log-out-circle"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
    <!-- End of Sidebar -->

    <div class="content">
      <nav>
        <i class="bx bx-menu"></i>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label>
        <a href="#" class="notif">
          <i class="bx bx-bell"></i>
          <span class="count">12</span>
        </a>
        <p>Welcome, {{ username }}!</p>
        <a href="#" class="profile">
          <img src="../static/logo.png" />
        </a>
      </nav>

      <!-- End of Navbar -->
    </div>

    {% block content %}{% endblock %}

    <!-- footer -->
    <footer class="text-gray-600 body-font ml-16 fixed-bottom">
      <div
        class="container px-5 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <img src="../static/logo.png" width="35" alt="" />
          <span class="ml-3 text-xl">Emo-Insight</span>
        </a>
        <p
          class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          © 2024 Emo-Insight —
          <a
            href="https://arshadcs20.github.io/"
            class="text-gray-600 ml-1"
            rel="noopener noreferrer"
            target="_blank"
            >@Github</a
          >
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a class="text-gray-500">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path
                d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500">
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
              ></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </footer>
    <!-- Add your JavaScript scripts here -->
    <script src="../static/dashboard.js"></script>
    <!-- <script src="{{url_for('static',filename='dashboard.js')}}"></script> -->
    <script>
      $(document).ready(function () {
        // Get the current URL path and extract the page name
        var path = window.location.pathname;
        var page = path.split("/").pop();

        // Loop through each menu item and compare its href attribute to the current page name
        $(".side-menu a").each(function () {
          var href = $(this).attr("href");
          // Remove leading slash if present
          href = href.replace(/^\//, "");
          if (page === href) {
            // Add the 'active' class to the parent li element
            $(this).closest("li").addClass("active");
          }
        });
      });
    </script>

    {% block scripts %}{% endblock %}
  </body>
</html>
