{% extends "base.html" %} {% block title %} About | Emo-Insight {% endblock %}
{% block content %}

<div class="content">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-6 text-red-600 darkTitle">
      About Emo-Insight
    </h1>

    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2 text-yellow-600 darkTitle">
        Our Vision
      </h2>
      <p class="text-yellow-600 pl-8 darkTitle">
        At Emo-Insight, we envision a world where emotional intelligence drives
        meaningful interactions, fosters empathy, and cultivates understanding
        in both digital and real-life contexts. By harnessing the power of
        technology and data analytics, we aim to revolutionize the way emotions
        are perceived, analyzed, and utilized in diverse fields.
      </p>
    </div>

    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2 text-yellow-600 darkTitle">
        What We Do
      </h2>
      <ul class="list-disc pl-8 text-yellow-600 darkTitle">
        <li>
          Emotional Data Analysis: Using advanced algorithms and machine
          learning techniques, Emo-Insight processes vast amounts of textual and
          visual data from popular social media platforms such as YouTube,
          Facebook, Instagram, Twitter, and more.
        </li>
        <li>
          Actionable Insights: Our platform generates actionable insights and
          visualizations that empower users to understand the emotional
          landscape of their target audience.
        </li>
        <li>
          Customized Solutions: We offer customizable solutions tailored to meet
          diverse needs, from sentiment analysis APIs to comprehensive dashboard
          integrations.
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2 text-yellow-600 darkTitle">
        Our Commitment
      </h2>
      <p class="text-yellow-600 pl-8 darkTitle">
        At Emo-Insight, we are committed to excellence, innovation, and ethical
        data practices. We prioritize user privacy, data security, and
        transparency in all our operations.
      </p>
    </div>

    <div class="mb-8">
      <h2 class="text-xl font-semibold mb-2 text-yellow-600 darkTitle">
        Get Started With Emo-Insight
      </h2>
      <p class="text-yellow-600 pl-8 darkTitle">
        Ready to explore the world of emotional analytics? Join us on our
        journey to unlock the power of emotions in the digital age. Discover new
        insights, gain valuable perspectives, and harness the transformative
        potential of emotional intelligence with Emo-Insight.
      </p>
    </div>
  </div>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto darkTitle">
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2
            class="title-font font-medium sm:text-4xl text-3xl text-gray-900 darkTitle"
          >
            12.7K
          </h2>
          <p class="leading-relaxed">Users</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2
            class="title-font font-medium sm:text-4xl text-3xl text-gray-900 darkTitle"
          >
            11.8K
          </h2>
          <p class="leading-relaxed">Subscribes</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2
            class="title-font font-medium sm:text-4xl text-3xl text-gray-900 darkTitle"
          >
            13K
          </h2>
          <p class="leading-relaxed">Downloads</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2
            class="title-font font-medium sm:text-4xl text-3xl text-gray-900 darkTitle"
          >
            3
          </h2>
          <p class="leading-relaxed">Products</p>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20">
        <h1
          class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4 darkTitle"
        >
          Key Features
        </h1>
        <p
          class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto darkTitle"
        >
          This section introduces the proposed system, Emo-Insight, and outlines
          its key features. It sets the stage for a detailed exploration of the
          system's design
        </p>
      </div>
      <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium"
              >Unified Sentiment Dashboard</span
            >
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium"
              >Real-time Sentiment Monitoring</span
            >
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">User-Friendly Interface</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Advanced NLP Techniques</span>
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium"
              >Scalability and Flexibility</span
            >
          </div>
        </div>
        <div class="p-2 sm:w-1/2 w-full">
          <div class="bg-gray-100 rounded flex p-4 h-full items-center">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4"
              viewBox="0 0 24 24"
            >
              <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
              <path d="M22 4L12 14.01l-3-3"></path>
            </svg>
            <span class="title-font font-medium">Modern UI/Ux</span>
          </div>
        </div>
      </div>
      <button
        class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
      >
        Explore More
      </button>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1
        class="text-3xl font-medium title-font text-gray-900 mb-12 text-center darkTitle"
      >
        Testimonials
      </h1>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full p-8 rounded border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="block w-5 h-5 text-gray-400 mb-4"
              viewBox="0 0 975.036 975.036"
            >
              <path
                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
              ></path>
            </svg>
            <p class="leading-relaxed mb-6 darkTitle">
              Emo-Insight revolutionized the way I understand text sentiment.
              Its accurate analysis provided me with invaluable insights into
              the emotions behind the words, enabling me to make informed
              decisions in real-time.
            </p>
            <a class="inline-flex items-center">
              <img
                alt="testimonial"
                src="https://dummyimage.com/106x106"
                class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"
              />
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900 darkTitle"
                  >Mr. Etc.</span
                >
                <span class="text-gray-500 text-sm">UI DEVELOPER</span>
              </span>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full border p-8 rounded">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="block w-5 h-5 text-gray-400 mb-4"
              viewBox="0 0 975.036 975.036"
            >
              <path
                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
              ></path>
            </svg>
            <p class="leading-relaxed mb-6 darkTitle">
              Emo-Insight is a must-have tool for anyone seeking to understand
              the emotional landscape of text. Its robust features and
              insightful analytics have been instrumental in driving meaningful
              engagement and fostering authentic connections with our audience.
            </p>
            <a class="inline-flex items-center">
              <img
                alt="testimonial"
                src="https://dummyimage.com/107x107"
                class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"
              />
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900 darkTitle"
                  >Mr. XYZ</span
                >
                <span class="text-gray-500 text-sm">DESIGNER</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
