{% extends "base.html" %} {% block title %} Home | Emo-Insight {% endblock %} {%
block content %}

<!-- Main Content -->
<div class="content">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-5 mx-auto flex flex-wrap">
      <div class="flex flex-wrap w-full">
        <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
          <div class="flex relative pb-4">
            <div
              class="h-full w-10 absolute inset-0 flex items-center justify-center"
            >
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider darkTitle"
              >
                STEP 1
                <p class="leading-relaxed darkTitle">
                  <strong>Social Media Platforms</strong>
                </p>
              </h2>

              <!-- Relevant information: Introduction to social media platforms -->
              <p class="leading-relaxed darkTitle">
                Social media platforms play a crucial role in today's digital
                landscape, providing avenues for communication, networking, and
                content sharing.
              </p>
            </div>
          </div>
          <div class="flex relative pb-4">
            <div
              class="h-full w-10 absolute inset-0 flex items-center justify-center"
            >
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider darkTitle"
              >
                STEP 2
                <p class="leading-relaxed darkTitle">
                  <strong>Data Aggregation</strong>
                </p>
              </h2>
              <!-- Relevant information: Explanation of data aggregation -->
              <p class="leading-relaxed darkTitle">
                Data aggregation involves gathering and compiling data from
                various sources to gain insights or make informed decisions.
              </p>
            </div>
          </div>
          <div class="flex relative pb-4">
            <div
              class="h-full w-10 absolute inset-0 flex items-center justify-center"
            >
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <circle cx="12" cy="5" r="3"></circle>
                <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider darkTitle"
              >
                STEP 3
                <p class="leading-relaxed darkTitle">
                  <strong>Raw Social Media Data</strong>
                </p>
              </h2>
              <!-- Relevant information: Explanation of raw social media data -->
              <p class="leading-relaxed darkTitle">
                Raw social media data refers to unprocessed information
                collected from social media platforms, including posts,
                comments, likes, and shares.
              </p>
            </div>
          </div>
          <div class="flex relative pb-4">
            <div
              class="h-full w-10 absolute inset-0 flex items-center justify-center"
            >
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider darkTitle"
              >
                STEP 4
                <p class="leading-relaxed darkTitle">
                  <strong>Sentiments analysis Algorithms</strong>
                </p>
              </h2>

              <!-- Relevant information: Explanation of sentiment analysis algorithms -->
              <p class="leading-relaxed darkTitle">
                Sentiment analysis algorithms are computational methods used to
                analyze and categorize the sentiment expressed in text data,
                such as positive, negative, or neutral.
              </p>
            </div>
          </div>
          <div class="flex relative pb-4">
            <div
              class="h-full w-10 absolute inset-0 flex items-center justify-center"
            >
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider darkTitle"
              >
                STEP 5
                <p class="leading-relaxed darkTitle">
                  <strong>Processed Sentiment Data</strong>
                </p>
              </h2>
              <!-- Relevant information: Explanation of processed sentiment data -->
              <p class="leading-relaxed darkTitle">
                Processed sentiment data is the result of applying sentiment
                analysis algorithms to raw social media data, providing insights
                into the overall sentiment trends and patterns.
              </p>
            </div>
          </div>
          <div class="flex relative pb-4">
            <div
              class="h-full w-10 absolute inset-0 flex items-center justify-center"
            >
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider darkTitle"
              >
                STEP 6
                <p class="leading-relaxed darkTitle">
                  <strong>User Interaction With Sentiment tools</strong>
                </p>
              </h2>
              <!-- Relevant information: Explanation of user interaction with sentiment analysis tools -->
              <p class="leading-relaxed darkTitle">
                User interaction with sentiment analysis tools involves users
                providing feedback, adjusting parameters, and interpreting
                results to refine the sentiment analysis process and improve
                accuracy.
              </p>
            </div>
          </div>
          <div class="flex relative">
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2
                class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider darkTitle"
              >
                <strong>FINISH</strong>
              </h2>

              <!-- Relevant information: Conclusion or final thoughts -->
              <p class="leading-relaxed darkTitle">
                In conclusion, the process of user interaction with sentiment
                analysis tools yields valuable insights that can drive strategic
                decisions and actions.
              </p>
            </div>
          </div>
        </div>
        <img
          class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12"
          src="../../static/useCase.png"
          alt="step"
        />
      </div>
    </div>
  </section>
</div>
{% endblock %}
