{% extends "base.html" %} {% block title %} Home | Emo-Insight {% endblock %} {%
block content %}

<!-- Main Content -->
<div class="content">
  <main>
    <div class="header">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li><a href="#"> Analytics </a></li>
          /
          <li><a href="#" class="active">Results</a></li>
        </ul>
      </div>
      <a
        href="/download-csv"
        class="report flex items-center space-x-2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
      >
        <i class="bx bx-cloud-download"></i>
        <span>Download CSV</span>
      </a>
    </div>

    <!-- Insights -->
    <ul class="insights">
      <li>
        <i class="bx bx-calendar-check"></i>
        <span class="info">
          <h3>{{ total_sentiments }}</h3>
          <p>Total Sentiments Analyzed</p>
        </span>
      </li>
      <li>
        <i class="bx bx-show-alt"></i>
        <span class="info">
          <h3>{{ sentiment_distribution|length }}</h3>
          <p>Sentiment Distribution</p>
        </span>
      </li>
      <li>
        <i class="bx bx-line-chart"></i>
        <span class="info">
          <h3>{{ platform_comparison|length }}</h3>
          <p>Platform Comparison</p>
        </span>
      </li>
    </ul>
    <!-- End of Insights -->

    <div class="bottom-data">
      <div class="orders">
        <div class="header">
          <i class="bx bx-receipt"></i>
          <h3>Recent Status</h3>
          <i class="bx bx-filter"></i>
          <i class="bx bx-search"></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for data in recent_status %}
            <tr>
              <td>
                <img src="/static/profilePNG.png" />
                <p>{{ data.user.username }}</p>
              </td>
              <td>{{ data.date }}</td>
              <td>
                <span class="status completed">{{ data.sentiment }}</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Reminders -->
      <div class="reminders">
        <div class="header">
          <i class="bx bx-note"></i>
          <h3>Reminders</h3>
          <i class="bx bx-filter"></i>
          <i class="bx bx-plus"></i>
        </div>
        <ul class="task-list">
          <li class="completed">
            <div class="task-title">
              <i class="bx bx-check-circle"></i>
              <p>Start Our Meeting</p>
            </div>
            <i class="bx bx-dots-vertical-rounded"></i>
          </li>
          <li class="completed">
            <div class="task-title">
              <i class="bx bx-check-circle"></i>
              <p>Analyze Our Site</p>
            </div>
            <i class="bx bx-dots-vertical-rounded"></i>
          </li>
          <li class="not-completed">
            <div class="task-title">
              <i class="bx bx-x-circle"></i>
              <p>Play Football</p>
            </div>
            <i class="bx bx-dots-vertical-rounded"></i>
          </li>
        </ul>
      </div>
      <!-- End of Reminders -->
    </div>
  </main>
</div>
{% endblock %}
