{% extends "base.html" %} {% block title %} History | Emo-Insight {% endblock %}
{% block content %}
<div class="content">
  <main class="w-full items-center p-4 mt-2 justify-center">
    <h1
      class="border rounded-md p-4 m-3 font-bold text-center text-4xl shadow-md"
    >
      Analysis Report
    </h1>
    {% for post_data in posts_with_analysis|reverse %}
    <div class="border p-3 my-2 bg-white rounded-md shadow-md item">
      <p class="p-2 m-2 text-lg flex justify-between justify-self-stretch">
        <span
          ><strong>Video URL:</strong
          ><span
            class="video-url text-blue-700 hover:underline hover:cursor-pointer"
            >&nbsp;{{ post_data['video_url'] }}</span
          ></span
        >
        <span class="title"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Dated:</strong>&nbsp;{{
          post_data['timestamp'] }}</span
        >
      </p>
      <p class="p-2 m-2 text-lg justify-self-stretch">
        <strong>Title:</strong>
        <span class="title">{{ post_data['title'] }}</span>
      </p>
      <p class="p-2 m-2 text-lg justify-self-stretch">
        <strong>Transcription:</strong
        ><span class="transcription text-sm"
          >{{ post_data['transcription'] }}</span
        >
      </p>
      <p class="p-2 m-2 text-lg justify-self-stretch">
        <strong>Confidence Level:</strong>
        <span class="confidence-level"
          >{{ post_data['confidence_level'] }}</span
        >
      </p>
    </div>
    {% endfor %}
  </main>
</div>
{% endblock %}
