{% extends "base.html" %} {% block title %} History | Emo-Insight {% endblock %}
{% block content %}
<div class="content">
  <main class="w-full items-center p-4 mt-2 justify-center">
    <h1
      class="border rounded-md p-4 m-3 font-bold text-center text-4xl shadow-md"
    >
      Analysis Report
    </h1>
    {% for post_data in posts_with_analysis %}
    <div class="border p-3 mt-2 rounded-md shadow-md">
      <p class="p-2 m-2 text-lg justify-self-stretch">
        <strong>Video URL:</strong> {{ post_data['video_url'] }}
      </p>
      <p class="p-2 m-2 text-lg justify-self-stretch">
        <strong>Title:</strong> {{ post_data['title'] }}
      </p>
      <p class="p-2 m-2 text-lg justify-self-stretch">
        <strong>Transcription:</strong> {{ post_data['transcription'] }}
      </p>
      <p class="p-2 m-2 text-lg justify-self-stretch">
        <strong>Confidence Level:</strong> {{ post_data['confidence_level'] }}
      </p>
    </div>
    {% endfor %}
  </main>
</div>
{% endblock %}
