{% extends "base.html" %} {% block title %} Profile | Emo-Insight {% endblock %}
{% block content %}

<div class="content">
  <section class="text-gray-600 body-font">
    <div
      class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
    >
      <div
        class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
      >
        <h1
          class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
        >
          Muhammad <br class="hidden lg:inline-block" />Arshad
        </h1>
        <p class="mb-8 leading-relaxed">
          As an aspiring programmer deeply immersed in the realm of computer
          science and technology, I find myself continuously driven by the
          endless possibilities of coding. From front-end design to back-end
          logic, I am passionate about crafting elegant solutions that
          seamlessly integrate user experience with robust functionality.
          Exploring the intricate layers of software development excites me,
          whether it's diving into algorithms, architecting scalable systems, or
          experimenting with the latest advancements in artificial intelligence.
          My journey through BZU Multan's computer science program has equipped
          me with a solid foundation, fueling my curiosity to push boundaries
          and innovate. With each line of code, I seek not only to solve
          problems but to create transformative experiences that resonate with
          users worldwide. In this ever-evolving landscape, I thrive on the
          challenges that coding presents, embracing them as opportunities to
          learn, adapt, and grow.
        </p>
        <div class="flex justify-center">
          <button
            class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          >
            Github
          </button>
          <button
            class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
          >
            LinkedIn
          </button>
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img
          class="object-cover object-center rounded-full shadow-lg"
          alt="hero"
          src="../../static/mySelf.jpg"
        />
      </div>
    </div>
  </section>
</div>

{% endblock %}
