{% extends "base.html" %} 
{% block title %} Settings | Emo-Insight {% endblock %} 



{% block content %}
<div class="content">
  <header>
    <h1 class="p-4 m-4">Emo-Insight Settings</h1>
  </header>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="bg-slate-600" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
</div>
{% endblock %}
