{% extends "base.html" %} {% block title %} Settings | Emo-Insight {% endblock
%} {% block content %}
<div class="content p-6">
  <header class="mb-8 rounded-md">
    <h1 class="text-3xl font-semibold darkTitle text-gray-800">
      Password Reset
    </h1>
  </header>

  <form action="{{ url_for('settings') }}" method="POST" class="space-y-8">
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
      <div>
        <label
          for="username"
          class="block text-sm font-medium text-gray-700 darkTitle"
          >Username</label
        >
        <input
          type="text"
          name="username"
          id="username"
          class="mt-1 block w-full p-4 text-xl border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-700 sm:text-sm"
          value="{{ username }}"
        />
      </div>
      <div>
        <label
          for="email"
          class="block text-sm font-medium text-gray-700 darkTitle"
          >Email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          class="mt-1 block w-full p-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-700 sm:text-sm"
          value="{{ email }}"
        />
      </div>
    </div>

    <div>
      <label
        for="current_password"
        class="block text-sm font-medium text-gray-700 darkTitle"
        >Current Password</label
      >
      <input
        type="password"
        name="current_password"
        id="current_password"
        class="mt-1 block w-full p-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-700 sm:text-sm"
      />
    </div>

    <div>
      <label
        for="new_password"
        class="block text-sm font-medium text-gray-700 darkTitle"
        >New Password</label
      >
      <input
        type="password"
        name="new_password"
        id="new_password"
        class="mt-1 block w-full p-4 text-lg border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-700 sm:text-sm"
      />
    </div>

    <div>
      <label
        for="confirm_password"
        class="block text-sm font-medium text-gray-700 darkTitle"
        >Confirm New Password</label
      >
      <input
        type="password"
        name="confirm_password"
        id="confirm_password"
        class="mt-1 block w-full p-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-700 sm:text-sm"
      />
    </div>

    <div class="flex items-start">
      <div class="flex items-center h-5">
        <input id="notifications" name="notifications" type="checkbox"
        class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300
        rounded" {{ 'checked' if notifications else '' }}>
      </div>
      <div class="ml-3 text-sm">
        <label for="notifications" class="font-medium text-gray-700 darkTitle"
          >Enable Notifications</label
        >
        <p class="text-gray-500 darkTitle">
          Receive email notifications for important updates.
        </p>
      </div>
    </div>

    <div>
      <button
        type="submit"
        class="bg-blue-500 mb-2 p-4 hover:bg-blue-700 text-lg text-white border border-cyan-400 py-2 rounded flex items-center justify-center space-x-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.75 3.75H19.25C20.0784 3.75 20.75 4.42157 20.75 5.25V18.75C20.75 19.5784 20.0784 20.25 19.25 20.25H4.75C3.92157 20.25 3.25 19.5784 3.25 18.75V5.25C3.25 4.42157 3.92157 3.75 4.75 3.75Z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8 3.75V8.25H16V3.75"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 12H15.75"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 15H15.75"
          />
        </svg>
        <span>Save Changes</span>
      </button>
    </div>
  </form>
</div>
{% endblock %}
