{% extends "base.html" %} {% block title %} Twitter sentiments | Emo-Insight {%
endblock %} {% block content %}

<div class="content">
  <main class="w-full flex items-center justify-center">
    <form
      method="post"
      class="mb-60 flex flex-col w-1/2 transition-transform hover:scale-105"
    >
      <!-- <label for="video_url" class="block mb-2">Enter YouTube Video URL:</label> -->
      <h1 class="text-4xl font-bold text-center mt-36 mb-8">
        Twitter Post Sentiment Analysis
      </h1>
      <input
        type="text"
        id="username"
        name="username"
        autocomplete="off"
        required
        placeholder="Enter twitter username here"
        class="text-xl border border-gray-300 rounded-md py-5 p-4 mb-2 focus:outline-none focus:border-blue-500"
      />
      <br />
      <button
        type="submit"
        id="x_analyze"
        disabled
        class="bg-blue-500 mb-2 p-4 hover:bg-blue-700 text-white border text-2xl border-cyan-400 font-bold py-5 px-4 rounded"
      >
        Analyze
      </button>
      <div style="display: none" id="loading-circle" class="load"></div>
      <div style="display: none" id="loading-text" class="justify-center">
        <p class="text-zinc-600 text-center">
          This will take a while depending upon post length and number of
          comments.
        </p>
      </div>
    </form>
  </main>
  <script>
    document.getElementById("x_analyze").addEventListener("click", async () => {
      const youtubeLink = document.getElementById("username").value;
      const text_load = document.getElementById("loading-text");

      if (youtubeLink) {
        document.getElementById("loading-circle").style.display = "block";
        document.getElementById("loading-text").style.display = "block";
      } else {
        alert("Please enter a twitter link.");
        document.getElementById("loading-circle").style.display = "none";
        document.getElementById("loading-text").style.display = "none";
      }
    });
  </script>
  {% endblock %}
</div>
