{% extends "base.html" %} {% block title %} youtube sentiments | Emo-Insight {%
endblock %} {% block content %}
<div class="content">
  <main class="w-full flex items-center justify-center">
    <form
      method="post"
      class="mb-60 flex flex-col w-1/2 transition-transform hover:scale-105 z-10"
    >
      <!-- <label for="video_url" class="block mb-2">Enter YouTube Video URL:</label> -->
      <h1 class="text-4xl font-bold text-center mt-36 mb-8 darkTitle">
        YouTube Comments Sentiment Analysis
      </h1>
      <input
        type="text"
        id="video_url"
        name="video_url"
        autocomplete="off"
        required
        placeholder="Enter YouTube Video URL here"
        class="border border-gray-300 rounded-md py-5 text-xl p-4 mb-2 focus:outline-none focus:border-blue-500"
      />
      <br />
      <button
        type="submit"
        id="analyze_sentiments"
        class="bg-blue-500 mb-2 hover:bg-blue-700 text-xl text-white border border-cyan-400 font-bold py-5 px-4 rounded flex items-center justify-center space-x-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605"
          />
        </svg>
        <span>Analyze Sentiments</span>
      </button>

      <div style="display: none" id="loading-circle" class="load darkTitle"></div>
      <div style="display: none" id="loading-text" class="darkTitle justify-center">
        <p class="text-zinc-600 text-center darkTitle">
          Depending on video length and comments, it may take a while.
        </p>
      </div>
    </form>
  </main>
  <script>
    document
      .getElementById("analyze_sentiments")
      .addEventListener("click", async () => {
        const youtubeLink = document.getElementById("video_url").value;
        const text_load = document.getElementById("loading-text");

        if (youtubeLink) {
          document.getElementById("loading-circle").style.display = "block";
          document.getElementById("loading-text").style.display = "block";
        } else {
          alert("Please enter a YouTube link.");
          document.getElementById("loading-circle").style.display = "none";
          document.getElementById("loading-text").style.display = "none";
        }
      });
  </script>
</div>
{% endblock %}
